.app{
 display: flex;
 flex-direction: column;
 width: 100vw;
 height: 100vh;
}

.header{
  height: 60px;

}

.footer{
  height: 60px;
  background-color: black;
}

.pagecontent{
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.itemCardImage{
  height: 250px !important;
  object-fit: scale-down;
}